@import 'colors';
@import 'generic/clickable';

.background-gradient() {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
}

#engine-monitor {
    position: absolute;
    top: 0;
    right: 0;
    left: 25%;
    bottom: 25%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #111;
}

#save {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    padding: 1px 25px 0 25px;
    background-color: #b2ffce;
    color: #333;

    &:after {
        content: "\0FCB";
    }
}

nav {
    position: absolute;
    top: 0;
    left: 0;

    width: 25%;
    height: 75%;
    
    background-color: #777;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: -webkit-box;
        -webkit-box-align: center;
        text-align: center;

        padding: 0 25px;

        background-color: #bbb;
        font-size: 26px;
        color: #121212;
    }

    .back {
        .clickable;
        margin-bottom: 32px;
    }
}

section {
    display: flex;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 25%;

    background-color: #333;
    overflow: auto;
}

section.info {
    justify-content: center;
    align-items: center;
}

#settings {
    #engine-log {
        border-top: 1px solid #333;
        overflow-y: scroll;
    }
}

#main {
    li {
        .clickable;

        height: 20%;
        font-size: 32px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        &.randar {
            background-color: #b7b7b7;
        }

        &.scenes {
            background-color: @color-scenes;
        }

        &.models {
            background-color: @color-models;
        }

        &.textures {
            background-color: @color-textures;
        }

        &.shaders {
            background-color: @color-shaders;
        }
    }
}

.resource-list {
    li {
        .clickable;

        padding: 12px 25px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        &.scenes {
            background-color: @color-scenes;
        }
        &.models {
            background-color: @color-models;
        }

        &.textures {
            background-color: @color-textures;
        }

        &.shaders {
            background-color: @color-shaders;
        }

        &:last-child {
            border-bottom: 0px;
        }
    }
}

#resource-category {
    .options {
        margin-bottom: 16px;
        padding-bottom: 16px;
    }
}

#target-resource {
    table {
        width: 100%;
        margin-top: 32px;

        border: 1px solid rgba(0, 0, 0, 0);
        text-align: left;

        thead {
            tr {
                background-color: #555;
            }
        }

        tbody {
            tr {
                background-color: #333;
            }
        }

        td, th {
            padding: 16px;

            &.empty {
                background-color: #723838;
            }
        }
    }
}

.timeline {
    .marker {
        .clickable;

        position: absolute;
        display: inline;
        top: 0;
        bottom: 0;

        div {
            display: flex;
            align-items: center;

            height: 24px;
            padding: 0 8px;

            font-size: 16px;
            line-height: 16px;
        }
    }

    .guide {
        position: relative;
        height: 100%;

        background-color: #555;

        header {
            .background-gradient();
            padding: 0 8px;
            background-color: #333;
        }

        .marker {
            border-left: 1px solid rgba(51, 51, 51, 0.35);

            &.significant {
                border-left: 1px solid rgba(51, 51, 51, 0.5);
            }

            div {
                .background-gradient();
                background-color: #333;

                &:before {
                    .background-gradient();

                    position: absolute;
                    top: 0;
                    left: -1px;

                    width: 1px;
                    height: 24px;

                    background-color: #333;
                    content: '';
                }
            }

            &.selected {
                background-color: #aaa;
            }
        }
    }

    .items {
        position: absolute;
        top: 24px;
        left: 0;
        bottom: 0;

        width: 100%;

        pointer-events: none;

        .item {
            position: relative;

            height: 24px;
            box-sizing: border-box;

            border-bottom: 1px solid rgba(25, 25, 25, 0.25);

            header {
                .clickable;

                display: flex;
                align-items: center;

                padding: 0 8px;
                background-color: #333;
                line-height: 24px;
            }

            .markers {
                .marker {
                    font-size: 14px;

                    div {
                        .clickable;
                        background-color: #75151e;
                    }
                }
            }
        }
    }

    .items .item, .guide {
        display: flex;

        header {
            display: inline-block;
            width: 100px;
            height: 24px;
        }

        .markers {
            flex-grow: 1;
            position: relative;
        }
    }
}
