*.iqm
bin/ui/
bin/*.bin
bin/*.dat
bin/*.pak
bin/*.log
bin/lib*
bin/locales
bin/chrome-sandbox
bin/randar
bin/test-project
lib/
obj/

node_modules/
platform/windows/dependencies
platform/**/Debug
platform/**/Release
*.db
*.exp
