@import '../colors';
@import '../generic/clickable';

#settings {
    #engine-log {
        border-top: 1px solid #333;
        overflow-y: scroll;
    }
}

#main {
    li {
        .clickable;

        height: 20%;
        font-size: 32px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        &.randar {
            background-color: #b7b7b7;
        }

        &.scenes {
            background-color: @color-scenes;
        }

        &.models {
            background-color: @color-models;
        }

        &.textures {
            background-color: @color-textures;
        }

        &.shaders {
            background-color: @color-shaders;
        }
    }
}

#resource-category {
    .options {
        margin-bottom: 16px;
        padding-bottom: 16px;
    }
}

#target-resource {
    table {
        width: 100%;
        margin-top: 32px;

        border: 1px solid rgba(0, 0, 0, 0);
        text-align: left;

        thead {
            tr {
                background-color: #555;
            }
        }

        tbody {
            tr {
                background-color: #333;
            }
        }

        td, th {
            padding: 16px;

            &.empty {
                background-color: #723838;
            }
        }
    }
}
