<main-menu-bar></main-menu-bar>
<project-bins></project-bins>

<dialog-item v-for="(item, itemId) in itemDialogs"
             :key="itemId"
             :item="item">
</dialog-item>

<overlay-welcome v-if="!project.onDisk"></overlay-welcome>

<!--<div class="overlay-area">
    <overlay name="about" class="about">
        <div><strong>Randar</strong> &bull; Film Creation Suite</div>

        <img src="images/logo.png" />
        <div>&copy; 2016 - 2017 Litty Studios</div>
    </overlay>
</div>-->
