* {
    -webkit-user-select: none;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
}

html, body {
    width: 100%;
    height: 100%;

    overflow: hidden;
    margin: 0;
    padding: 0;

    background-color: rgba(0, 0, 0, 0);
    font-family: Helvetica;
    color: #efefef;
}

.button {

}

.button:hover, .clickable:hover {
    box-shadow: inset 0 0 1000px 1000px rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

#save {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    padding: 1px 25px 0 25px;
    background-color: #b2ffce;
    color: #333;
}

#save:after {
    content: "\0FCB";
}

nav {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    background-color: #777;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: -webkit-box;
    -webkit-box-align: center;
    text-align: center;

    padding: 0 25px;

    background-color: #bbb;
    font-size: 26px;
    color: #121212;
}

nav li:hover, nav li:active {
    position: relative;
}

nav li:hover {
    -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3), 0 0 7px rgba(0,0,0,0.5);
}

nav li:active {
    -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.25), 0 0 7px rgba(0,0,0,0.5);
}

nav#settings #engine-log {
    border-top: 1px solid #333;
    overflow-y: scroll;
}

nav#main li {
    height: 20%;
    font-size: 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

nav#main li.randar {
    background-color: #b7b7b7;
}

nav#main li.scenes, nav#resource-list ul.scenes li {
    background-color: #d161f9;
}

nav#main li.animations {
    background-color: #f96175;
}

nav#main li.models, nav#resource-list ul.models li {
    background-color: #4beff4;
}

nav#main li.meshes, nav#resource-list ul.meshes li {
    background-color: #e5d8b5;
}

nav#main li.textures, nav#resource-list ul.textures li {
    background-color: #4bf45f;
}

nav#main li.shaders, nav#resource-list ul.shaders li {
    background-color: #f4f44b;
}

nav#resource-list ul.back {
    margin-bottom: 32px;
}

nav#resource-list ul.list li {
    padding: 12px 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

nav#resource-list ul.list li:last-child {
    border-bottom: 0px;
}

/**
 * Target resource panel.
 */
#target-resource table {
    width: 100%;
    margin-top: 32px;

    border: 1px solid rgba(0, 0, 0, 0);
    text-align: left;
}

#target-resource thead tr {
    background-color: #555;
}

#target-resource tbody tr {
    background-color: #333;
}

#target-resource tbody tr.clickable:hover td,
#target-resource tbody tr.clickable:hover th {
    box-shadow: inset 0 0 1000px 1000px rgba(255, 255, 255, 0.05);
}

#target-resource td, #target-resource th {
    padding: 16px;
}

#target-resource table.textures td.empty {
    background-color: #723838;
}
