.input.color {
    display: flex;

    .input.text {
        margin-right: 4px;

        &:last-child {
            margin-right: 0;
        }

        input {
            width: 48px;
        }
    }
}
